$black: #000;
$white: #fff;
$info-color: #3195a5;
$success-color: #07b63b;
$warning-color: #ffae42;
$pending-color: #ff5000;
$error-color: #ff5959;
$grey-color: #39454c;
$primary-color : #07b63b;
$secondary-color : #3195a5;
$background-color: #fff;