.modal-body {
    display: flex;
    flex-direction: column;
    width: 100%;

}
.login__title {
    
    font-size: 15px;
    font-weight: 500;
   
    &:hover {
        color: $primary-color;
    }
}
 .modal__title{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.login-form__input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: white;
    border: 2px solid initial;
    border-radius: 2px;

}
.label {
    line-height: 0px;
    
    
    p{
        margin-bottom: 0px;
        margin-top: 6px;
        font-size: 17px;
        color: green;
        font-weight: 700;
    }
}
.login-form__aside{
    margin-top: 10px;
}
.login-form__policy-link{
    color: black;
    font-size: 15px;
    font-weight: 700;
}
.login-form__input--button {
    font-size: 15px;
    height: 40px;
    font-weight: 700;
    &:hover{
        color: $primary-color;
    }
}